@import '_variables.scss';

@mixin common-attrbs {
    font-family: Roboto;
    text-align: left;
    width: 100%;
}

.container-title {
    text-align: left;

    .title {
        @include common-attrbs;
        font-size: 3rem;

        & br {
            @media (min-width:  map-get($container-max-widths, "md")) { display: none }
        }
    }
}

.body {
    @include common-attrbs;
    font-size: 1.3rem;
}

.profileImage {
    padding-top: 5%
}

.container-body {
    display: flex;
}
