@mixin common-attrbs {
    font-family: Roboto;
    text-align: left;
    width: 100%;
}

.container-title {
    text-align: left;

    .title {
        @include common-attrbs;
        font-size: 3rem;
    }
}

.body {
    @include common-attrbs;
    font-size: 1.5rem;
}

.profileImage {
    padding-top: 5%
}

.container-body {
    display: flex;
}


