.footer {
    background-color: #343a40;
    bottom: 0;
    height: 50px;
    width: 100%;; 

    .legal {
        color: white;
        font-size: medium; 
        font-family: Roboto;
        width: 12rem;
        padding-left: 2%;
        line-height: 50px;    
    }

    .logo {
        cursor: pointer;
        position: relative;
        float: right;
        fill:white;
        width: 1.5rem;
        margin-right: 20px;
    }
}
