.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px; }

.footer {
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%; }
  .footer .legal {
    color: white;
    font-size: medium;
    font-family: Roboto;
    left: 1%;
    width: 12rem;
    height: 2rem; }
  .footer .logo {
    cursor: pointer;
    position: relative;
    float: right;
    fill: white;
    width: 1.5rem;
    margin-right: 20px; }

.container-title {
  text-align: left; }
  .container-title .title {
    font-family: Roboto;
    text-align: left;
    width: 100%;
    font-size: 3rem; }

.body {
  font-family: Roboto;
  text-align: left;
  width: 100%;
  font-size: 1.5rem; }

.container-profile .profileImage {
  width: 400px; }

.container-body {
  padding-top: 10%;
  display: flex; }
